.eunit
.rebar
.coap_dialyzer*

.project
.settings
deps
ebin
src/core_link_scanner.erl
src/core_link_parser.erl
erl_crash.dump
*.pem
/_build/
.idea/
_build/
examples/sample.iml
gen_coap.iml
rebar.lock
